@page
@model ValuationDiamond.RazorWebApp.Pages.ServicePage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    .navbar-nav {
        margin-left: auto;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://i.pinimg.com/564x/94/58/c3/9458c3be86694a4aabd1b7568753f164.jpg" alt="Dashboard Logo" style="width: 60px; height: 60px; margin-right: 10px; padding-left: 10px;">
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/CustomerPage">Customer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/CustomerPage/Chart">Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ServicePage">Service</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Create Service</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service.Name" class="control-label"></label>
                <input asp-for="Service.Name" class="form-control" />
                <span asp-validation-for="Service.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Price" class="control-label"></label>
                <input asp-for="Service.Price" class="form-control" />
                <span asp-validation-for="Service.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Decription" class="control-label"></label>
                <input asp-for="Service.Decription" class="form-control" />
                <span asp-validation-for="Service.Decription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index"><button type="button" class="btn btn-primary">Back to List</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
